<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>

    <add key="CategoriesToProductsMapping" value="CategoryA:1,2,3|CategoryB:4,5,6|CategoryC:7,8,9" />
    <add key="CategoriesToRateMapping" value="CategoryA:19|CategoryB:39|CategoryC:49" />
    <add key="CategoriesToTaxMapping" value="CategoryA:10|CategoryB:20|CategoryC:0" />

  </appSettings>
  <connectionStrings>
    <add name="ProductsDB" connectionString="Data Source=localhost;User Id=admin; Password=1qaz!QAZ;Initial Catalog=qaprofile" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <typeAliases>
      <typeAlias  alias="IProductProvider" type="Beejak.DataLayer.Interfaces.IProductProvider,Beejak" />
      <typeAlias  alias="ITaxProvider" type="Beejak.DataLayer.Interfaces.ITaxProvider,Beejak" />
      <typeAlias  alias="IRateProvider" type="Beejak.DataLayer.Interfaces.IRateProvider, Beejak" />

      <typeAlias  alias="ConfigProductProvider" type="Beejak.DataLayer.ConfigProvider.ConfigProductProvider,Beejak" />
      <typeAlias  alias="MockProductProvider" type="Beejak.DataLayer.MockProvider.MockProductProvider,Beejak" />

      <typeAlias  alias="ConfigTaxProvider" type="Beejak.DataLayer.ConfigProvider.ConfigTaxProvider,Beejak" />
      <typeAlias  alias="ConfigRateProvider" type="Beejak.DataLayer.ConfigProvider.ConfigRateProvider, Beejak" />
    </typeAliases>

    <containers>
      <container>
        <register type="IProductProvider" mapTo="ConfigProductProvider">
        </register>

        <register type="ITaxProvider" mapTo="ConfigTaxProvider">
        </register>

        <register type="IRateProvider" mapTo="ConfigRateProvider">
        </register>
      </container>
    </containers>

  </unity>
</configuration>